.items-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.items-container {
    width: 1450px;
    height: 575px;
    background-image: url("/public/images/items-menu.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 140px;
    padding-bottom: 50px;
}

.items-container h2 {
    position: absolute;
    width: 150px;
    font-size: 25px;
    font-family: "Changa", sans-serif;
    left: 280px;
    bottom: 210px;
    font-weight: 600;
    color: #faaf16;
    text-align: right;
}

.items-close {
    position: absolute;
    height: 85px;
    bottom: 690px;
    left: 1380px;
}

.inventory {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 880px;
    left: 570px;
    bottom: 50px;
}

.inventory-slot {
    height: 120px;
    transition: 0.2s linear;
}

.inventory-slot:hover {
    transform: scale(1.1);
}

.inventory-title {
    clip-path: inset(0 140px 0 0);
}
