.settings-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.settings-container {
    width: 1500px;
    height: 1000px;
    background-image: url("/home/codingnewbie/repos/rpg-store/app/public/images/settings-menu.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.settings-close {
    position: absolute;
    height: 85px;
    bottom: 795px;
    left: 1150px;
}
