.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.profile {
    height: 125px;
}

.resource {
    height: 80px;
}

.nav-links {
    display: flex;
    gap: 20px;
}
